@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.c-box {
  @apply bg-white px-10 py-5 rounded dark:bg-gray-900;
}
.c-btn-blue {
  @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 disabled:opacity-40 cursor-pointer;
}

.c-btn-outline {
  @apply px-5 py-1.5 me-2 border border-gray-700 text-gray-700 rounded-lg;
}

.c-btn-red {
  @apply focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900;
}

.c-card {
  @apply bg-white dark:bg-gray-800 rounded-3xl shadow-2xl border border-gray-200 dark:border-gray-700 overflow-hidden;
}

.card {
  @apply bg-white dark:bg-gray-800 rounded-3xl shadow-2xl border border-gray-200 dark:border-gray-700 overflow-hidden;
}

.flex-center {
  @apply flex justify-center items-center;
}

.modal-bg {
  @apply flex inset-0 overflow-y-auto fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-screen max-h-full bg-black/50;
}

.modal-body {
  @apply relative bg-white rounded-lg shadow-sm dark:bg-gray-700;
}

/* Toast Animations */
@keyframes slide-in {
  from {
    transform: translateX(-100%); /* change -100 to 100 for right-slide */
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.animate-slide-up {
  animation: slide-up 0.3s ease-out;
}

@keyframes progress-bar {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
.animate-progress-bar {
  animation: progress-bar 5s linear;
}
