.container-searchIssuedBooks {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  gap: 30px;
  select,
  input {
    width: 100%;
  }
}

.export-button {
  margin: 30px;
  button {
    width: 10vw;
  }
}
