.my-button {
  color: white;
  background-color: #202650;
  border: 1px solid;
  border-radius: 7px;
  height: 40px;
  min-width: 100px;
  width: inherit;
  white-space: nowrap;
  overflow: hidden;
  border-color: white;
  padding: 0 10px;
}

.my-button:hover {
  background-color: #907ad6;
  border: none;
  cursor: pointer;
}

.my-button:active,
.my-button:disabled {
  opacity: 0.5;
}
