.snackbar {
  position: fixed;
  bottom: 10px;
  left: -500px;
  min-width: 250px;
  border-radius: 4px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: left 0.3s;
  z-index: 99;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.75);
}

.snackbar.pop-snackbar {
  left: 20px;
}

.bg-danger {
  background-color: #dc4c64;
}

.bg-success {
  background-color: #14a44d;
}

.bg-warning {
  background-color: #e4a11b;
}

.bg-info {
  background-color: #54b4d3;
}

.snackbar p {
  text-align: center;
  margin: 0;
  color: white;
  font-size: 15px;
  padding: 0 10px;
}
