.inputField-container {
  position: relative;
  font-weight: 400;
  height: 40px;
  width: inherit;
  min-width: 10vw;

  label {
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    max-width: 90%;
    left: 5px;
    top: 10px;
    pointer-events: none;
    transition: 0.1s;
    font-size: 15px;
    color: black;
    padding: 0 10px;
  }
  input {
    position: absolute;
    left: 0;
    height: 100%;
    box-sizing: border-box;
    background: transparent;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 15px;
    padding: 0 10px;
  }

  input:focus ~ label,
  input:valid ~ label,
  input[type="date"] ~ label {
    font-weight: 500;
    font-size: 12px;
    max-width: 75%;
    top: -11px;
    left: 10px;
    background-color: white;
    z-index: 1;
    padding: 0 2px;
  }
}

.active-input {
  font-size: 12px !important;
  max-width: 75% !important;
  top: -11px !important;
  left: 10px !important;
  background-color: white !important;
  z-index: 1 !important;
}
