@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

.inputSelect-container {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  height: 40px;
}

.inputSelect-container select {
  min-width: 10vw;
  max-width: 90%;
  position: absolute;
  left: 0;
  background: transparent;
  height: 100%;
  border-radius: 5px;
  border: 1px solid;
  padding: 0 10px;
}

.inputSelect-container label {
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  max-width: 90%;
  left: 5px;
  top: 10px;
  pointer-events: none;
  transition: 0.1s;
  font-size: 15px;
}

.inputSelect-container select:focus ~ label,
.inputSelect-container select:valid ~ label {
  max-width: 30%;
  top: -10px;
  background-color: white;
  z-index: 1;
}
